.card {
  width: 360px;
  border: 1px solid #ddd;
  background: #fff;
  /*padding: 15px 25px 0 25px;*/
  padding: 15px 0 0 0;
  margin: 0 10px 20px 10px;
  display: inline-block;
  vertical-align: top;
}
.card .appPhotoBox {
  display: inline-block;
  /*width: 78px;*/
  /*padding: 20px 15px;*/
  margin: 10px 13px 0 25px;
  vertical-align: top;
}
.card .appPhotoBox .appPhoto {
  width: 48px;
  height: 48px;
}
.card .appContentBox {
  display: inline-block;
  width: 240px;
}
.card .appContentBox .describe {
  color: #999;
  font-size: 14px;
  line-height: 22px;
}
.card .appContentBox .wait {
  color: #428bca; /* 采用bootstrap的标准色 */
}
.card .appContentBox .ng {
  color: #d9534f; /* 采用bootstrap的标准色 */
}






.card .appOperateBoxs,
.card .appOperateBox {
  width: 100%;
  height: 48px;
  margin: 15px 0 0 0;
  /*vertical-align: middle;*/
  line-height: 48px;
  text-align: center;
  background: #f7f9fa;
  border-top: 1px solid #e9e9e9;
}
.card .appOperateBoxs .check,
.card .appOperateBoxs .edit {
  display: inline-block;
  width: 170px;
}
.card .appOperateBoxs .split {
  color: #e9e9e9;
}
.card .appOperateBox .check {
  width: 100%;
}

.addCard {
  width: 360px;
  border: 1px dashed #ddd;
  height: 169px;
  margin: 0 10px 20px 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 169px;
}