    * {
        margin: 0;
        padding: 0;
      }
      
      ul,ol {
        list-style: none;
      }
      #right {
        background: #e9ecef;
      }

      #right .dropdown{
        padding: 12px;
        background: #fff;
      }
      
      .navTitle {
        font-size: 14px;
        padding: 1px 0 1px 50px;
        background: #e9ecef;
      }
      
      .content {
        width: 96%;
        background: #fff;
        margin: 0 auto;
      }
      
      .content .content_title {
        padding: 10px 0 10px 30px;
        border-bottom: 1px solid #B4BCCC;
      }
      
      .content_nav {
        padding: 16px 24px 6px;
      }
      
      .content_table {
        width: 96%;
        margin: 0 auto;
        position: relative;
      }
      
      .content_table_btn{
        position: absolute;
        left: 0;
        top: 10px;
      }
      
      .content_form {
        padding: 20px 200px 0 30px;
      }

      .Approver_col {
        padding: 12px 0;
        display: flex;
      }

      .Approver_row {
        width:100px;
        height:100px;
        background: #eee;
        border-radius: 50%;
        margin-left: 12px;
        margin-right: 18px;
        position: relative;
      }
      .Approver_col .Approver_row img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .add {
        width:100px;
        height:100px;
        border-radius: 0;
        border:1px dashed #999;
      }

      .add .add1 {
        font-size: 50px;
        display: block;
        width: 100%;
        height: 100%;
        line-height:80px;
        color: #666;
        text-align: center;
        position: absolute;
      }

      .add .add2{
        width:100%;
        font-size: 14px;
        text-align: center;
        position: absolute;
        bottom: 2px;
      }

      .content .content_footer {
        padding: 24px 0 30px 50px;
        border-top: 1px solid #B4BCCC;
      }

      .Approver_row .deletebox{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .Approver_row .deletebox .delete {
        width:80px;
        height:24px;
        text-align: center;
        line-height: 24px;
        border: 1px solid red;
        border-radius: 6px;
        background: #fff;
        text-align: center;
        color: red;
      }