body {
  background-image: url('../images/u234.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: fixed;
  background-color: #f1f2f6;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.container {
  text-align: center;
  width: 726px;
}

.container > .title {
  padding: 0 0 0 22px;
  margin: 0 0 18px 0;
  font-size: 18px;
  text-align: left;
}
.container > .method {
  /*background: #fff;*/
  width: 300px;
  /*height: 170px;*/
  /*border-radius: 6px;*/
  margin: 5px 22px;
  display: inline-block;
  vertical-align: top;
}
.container > .method > .imgBox {
  border-radius: 10px;
  background: #fff;
  height: 170px;
}
/*.container > .method > img {
  display: block;
}*/
.container > .method > .imgBox > .dingding {
  width: 170px;
  margin: 50px auto;
}
.container > .method > .imgBox > .xesLogo {
  width: 200px;
  margin: 55px auto;
}
.container > .method > .describeDingding,
.container > .method > .describeXes {
  color: #999;
  padding: 25px 0 0 0;
  text-align: center;
}
/*.container > .method > .describeXes {
  color: #999;
  padding: 19px 0 0 0;
  text-align: center;
}*/
